.button a {
  line-height: 30px;
  font-size: 16px;
  color: #ffffff;
  font-weight: 700;
  font-family: "Roboto", sans-serif;
  text-decoration: none;
  padding: 10px 30px;
  background: #07b569;
  display: inline-block;
  transition: 500ms;
}

.button a:hover {
  opacity: .7;
}
