.contactus {
  margin-top: 120px;
}

.contactus .wrap {
  max-width: 980px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}

.contactus .address {
  width: 46%;
}

.contactus h2 {
  text-align: center;
}

.contactus address {
  font-style: normal;
}

.contactus address:nth-child(1) {
  margin-top: 80px;
}

.contactus address:nth-child(2) {
  margin-top: 40px;
}

.contactus address + address {
  margin-top: 15px;
}

.contactus .gmaps {
  width: 100%;
  margin-top: 20px;
}

.contactus .form {
  display: flex;
  flex-direction: column;
  width: 49%;
  margin-top: 100px;
}

.contactus .form .input {
  display: flex;
  flex-direction: column;
  position: relative;
}

.contactus .form input {
  margin-top: 20px;
  border-radius: 0;
  border: 1px solid #E5E5E5;
  padding: 17px;
  font-size: 14px;
  letter-spacing: 1px;
  color: #413d4b;
  font-weight: 300;
  font-family: "Roboto";
}

.contactus .form label {
  position: absolute;
  bottom: 25%;
  left: 25px;
  font-size: 14px;
  letter-spacing: 1px;
  color: rgba(65, 61, 75, .5);
  font-weight: 300;
  font-family: "Roboto";
  pointer-events: none;
  transition: 300ms;
}

.contactus .form .input input:focus + label {
  transform: translateY(-25px);
  padding: 0 10px;
  background: #FFF;
}

.contactus .form textarea {
  margin-top: 20px;
  resize: none;
  border: 1px solid #E5E5E5;
  padding: 20px;
  font-size: 14px;
  letter-spacing: 1px;
  color: #413d4b;
  font-weight: 300;
  width: 91%;
  font-family: "Roboto";
  height: 315px;
}

.contactus .form .inputTxt {
  position: relative;
  width: 100%;
}

.contactus .form .inputTxt label {
  position: absolute;
  pointer-events: none;
  bottom: 85%;
}

.contactus .form .inputTxt textarea:focus + label {
  transform: translateY(-27px);
  padding: 0 10px;
  background: #FFF;
}

.contactus .button {
  text-align: center;
  margin-top: 60px;
}
