.header {
  background: url(img/bg/header.webp) center no-repeat;
  background-size: cover;
  position: relative;
}

.header::before {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  display: block;
  background: linear-gradient(to left, rgba(0, 80, 131, .39), rgba(34, 185, 119, .39));
  z-index: 1;
}

.header-wrap {
  position: relative;
  z-index: 2;
  padding-bottom: 300px;
}

.header-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 40px 0;
}

.header-top p {
  font-size: 24px;
  line-height: 30px;
  color: #ffffff;
  font-weight: 700;
  font-family: "Roboto", sans-serif;
}

.header h1 {
  max-width: 968px;
  font-size: 54px;
  color: #ffffff;
  font-weight: 400;
  font-family: "Roboto";
  text-align: center;
  margin: 200px auto 0 auto;
  padding-bottom: 300px;
}

.header h1 span {
  font-weight: bold;
}
