.header {
  background: url(header.webp) center no-repeat;
  background-size: cover;
  position: relative;
}

.header::before {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  display: block;
  background: linear-gradient(to left, rgba(0, 80, 131, .39), rgba(34, 185, 119, .39));
  z-index: 1;
}

.header nav ul {
  display: flex;
  align-items: center;
}

.header nav ul li a {
  color: #FFF;
  font-size: 14px;
  line-height: 30px;
  font-weight: 700;
  font-family: Roboto, sans-serif;
  text-decoration: none;
}

.header nav ul li a {
  transition: 500ms;
  cursor: pointer;
}

.header nav ul li a:last-of-type {
  margin-right: 25px;
}

.header nav ul li a:hover {
  line-height: 30px;
  font-size: 16px;
  color: #ffffff;
  font-weight: 700;
  font-family: "Roboto", sans-serif;
  text-decoration: none;
  padding: 10px 30px;
  background: #07b569;
  display: inline-block;
}

.header .button .btn {
  line-height: 30px;
  font-size: 16px;
  color: #ffffff;
  font-weight: 700;
  font-family: "Roboto", sans-serif;
  text-decoration: none;
  padding: 10px 30px;
  background: #07b569;
  display: inline-block;
  border: none;
  cursor: pointer;
  transition: 500ms;
}

.header .button .btn:hover {
  opacity: .7;
}

@media (max-width: 759px) {
  .header nav ul {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 25px;
  }
  .header nav ul li a {
    display: flex;
    align-items: center;
    margin-left: 25px;
  }
  .header nav ul li:last-of-type {
    margin-bottom: 15px;
  }
  .header nav ul li a {
    transition: 500ms;
    cursor: pointer;
    padding: 0 15px;
    font-size: 11px;
  }
  .header nav ul li a:hover {
    padding: 0 15px;
    font-size: 11px;
  }
  .header .button .btn {
    padding: 0 15px;
    font-size: 11px;
  }
}

@media (max-width: 480px) {
  .header-wrap {
    padding-bottom: 45px;
  }
  .header h2 {
    margin: 45px auto 35px auto;
  }
}

.header-wrap {
  position: relative;
  z-index: 2;
  padding-bottom: 300px;
}

.header-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 40px 0;
}

.header-top h1 a {
  font-size: 24px;
  line-height: 30px;
  color: #ffffff;
  font-weight: 700;
  font-family: "Roboto", sans-serif;
  text-decoration: none;
}

.header h2 {
  max-width: 968px;
  font-size: 54px;
  color: #ffffff;
  font-weight: 400;
  font-family: Roboto, sans-serif;
  text-align: center;
  margin: 200px auto 50px auto;
}

.header h2 span {
  font-weight: bold;
}
