.services {
  margin-top: 120px;
  text-align: center;
}

.services img {
  margin-bottom: 20px;
}

.services h3 a {
  margin: 0 auto;
  font-size: 18px;
  letter-spacing: 1px;
  color: #1d1d1d;
  font-weight: 700;
  font-family: "Roboto", sans-serif;
  text-decoration: none;
}

.services p {
  margin-top: 30px;
  max-width: 370px;
  opacity: .7;
  font-size: 16px;
  letter-spacing: 1px;
  line-height: 26px;
  color: #1d1d1d;
  font-weight: 400;
  font-family: "Roboto", sans-serif;
}

.services .row1 {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
}

.services .row2 {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  margin-top: 75px;
}

@media (max-width: 480px) {
  .services .row1 {
    display: flex;
    align-items: flex-end;
    justify-content: flex-start;
  }
  .services .row2 {
    display: flex;
    align-items: flex-end;
    justify-content: flex-start;
    margin-top: 75px;
  }
  .services .row1 {
    display: inline-block;
    text-align: center;
  }
  .services .row2 {
    display: inline-block;
    text-align: center;
  }
  .services .service {
    margin-top: 30px;
  }
}

.services .service {
  position: relative;
}
