.services {
  margin-top: 120px;
  text-align: center;
}

.services img {
  margin-bottom: 20px;
}

.services h3 a {
  margin: 0 auto;
  font-size: 18px;
  letter-spacing: 1px;
  color: #1d1d1d;
  font-weight: 700;
  font-family: "Roboto", sans-serif;
  text-decoration: none;
}

.services p {
  margin-top: 30px;
  max-width: 370px;
  opacity: .7;
  font-size: 16px;
  letter-spacing: 1px;
  line-height: 26px;
  color: #1d1d1d;
  font-weight: 400;
  font-family: "Roboto", sans-serif;
}

.services .row1 {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
}

.services .row2 {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  margin-top: 75px;
}

@media (max-width: 1100px) {
  .services .row1 {
    flex-wrap: wrap;
    justify-content: space-around;
  }
  .services .row1 .service3 {
    margin-top: 40px;
  }
  .services .row2 {
    flex-wrap: wrap;
    justify-content: space-around;
    margin-top: 0;
  }
  .services .row2 .service6 {
    margin-top: 40px;
  }
  .services .service2, .services .service5 {
    margin-top: 40px;
  }
}

@media (max-width: 768px) {
  .services .row2 {
    margin-top: 40px;
  }
}
